.div{
	padding: 1em;
	border: 0.1em solid blue;
	border-radius: 2em;
	/* text-align: center; */
}

/* .alignLeft{
	text-align: left;
} */

.divDynamic{
	overflow: hidden;
}
.list{
	width: 38%;
	float: left;
}
.article{
	width: 53%;
	float: right;
}
