<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this tag, the sky will fall on your head -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Poligraff.by</title>
	
<link rel="stylesheet" type="text/css" href="stylesheets/email.css" />

</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#efefef">
	<tr>
		<td></td>
		<td class="header container">
			
			
				<div class="content">
					<table bgcolor="#ffffff">
					<tr>
						<td><img src="http://cvr.by/images/card.jpg" /></td>
						<!-- <td align="right"><h6 class="collapse">контакты</h6></td>-->
					</tr>
				</table>
				</div>
				
		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#fff">

			<div class="content">
			<table>
				<tr>
					<td>
						
						<h3>Акции</h3>
						<p class="lead">Самые лучшие предложения от Poligraff за октябрь!</p>
						<a class="btn">Посмотреть</a>
						
						<!-- A Real Hero (and a real human being) -->
						<p><a href="http://poligraff.by"><img src="http://cvr.by/images/card1.jpg" /></a></p><!-- /hero -->
						
						<!-- Callout Panel -->
						<p class="callout">
							Хотите больше предложений? <a href="http://poligraff.by">Вам сюда!</a>
						</p><!-- /Callout Panel -->
						
						<h3>Новинки<small></small></h3>
						<p>Ручки и карандаши, полиграфическая продукция по самым низким ценам. </p>
						<a class="btn">Посмотреть</a>
							<p><a href="http://poligraff.by"><img src="http://cvr.by/images/card2.jpg" /></a></p><!-- /hero -->					
						<br/>
						<br/>							
												
						<!-- social & contact -->
						<table class="social" width="100%">
							<tr>
								<td>
									
									<!--- column 1 -->
									<table align="left" class="column">
										<tr>
											<td>				
												
												<h5 class="">Мы в соцсетях:</h5>
												<p class=""><!--- <a href="#" class="soc-btn fb">Facebook</a> <a href="#" class="soc-btn tw">Twitter</a> <a href="#" class="soc-btn gp">Google+</a>--> 
												<a href="#" class="soc-btn fb">VK</a> <a href="#" class="soc-btn gp">Youtube</a> 
												</p>
						
												<!-- Callout Panel -->
						<p class="callout">
							Вы хотите <a href="http://poligraff.by">отписаться от рассылки?</a>
						</p><!-- /Callout Panel -->
											</td>
										</tr>
									</table><!-- /column 1 -->	
									
									<!--- column 2 -->
									<table align="left" class="column">
										<tr>
											<td>				
																			
												<h5 class="">Контактная информация</h5>												
												<p><strong>+375 (29) 331-96-90</strong><br/>
                Email: <strong><a href="emailto:info@vsebloknoty.by">info@poligraff.by</a></strong></p>
                
											</td>
										</tr>
									</table><!-- /column 2 -->
									
									<span class="clear"></span>	
									
								</td>
							</tr>
						</table><!-- /social & contact -->
					
					
					</td>
				</tr>
			</table>
			</div>
									
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
			
				<!-- content -->
				<div class="content">
				<table>
				<tr>
					<td align="center">
						<p>
							<a href="#">Каталог продукции</a> |
							<a href="#">Цены</a> |
							<a href="#"><unsubscribe>О нас</unsubscribe></a>
						</p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->
				
		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>